*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: whitesmoke;
}

@keyframes slide {
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0%);
    }
}

/* if you want to move the items form right to left, change the values  to

    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-100%);
    }

*/

.marquee{
    overflow: hidden;
    background-color: lightgray;
    padding: 60px 0;
    white-space: nowrap;
}

.marquee:hover marquee-items{
    animation-play-state: paused;

}

.marquee-items{
    display: inline-block;
    animation: 30s slide infinite linear;
}

.marquee-items img{
    height: 100px;
    width: 100px;
    margin: 0 40px;
}
